# Caches.
.DS_Store
__pycache__
*.egg-info

# VEnv.
.hsmr_env

# Hydra dev.
outputs

# Development tools.
.vscode
pyrightconfig.json

# Logs.
gpu_monitor.log

# Ignore GAVD folders containing video files and large data
GAVD-*/
GAVD/

# Other large data directories
DCM-GaitVideos/
DCM-RawGaitVideos/
GaitRite-GaitData/
HSMR-DCM-SKEL-params/
skel_models_v1.1/

# Temporary files
*.tmp
tmp*

# Virtual environment
.venv/